<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd
               http://www.springframework.org/schema/aop
               http://www.springframework.org/schema/aop/spring-aop.xsd
               http://www.springframework.org/schema/tx
               http://www.springframework.org/schema/tx/spring-tx.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 指定应用名称 -->
    <dubbo:application name="health_jobs" />
    <!--指定服务注册中心地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--批量扫描-->
    <dubbo:annotation package="com.itheima.health" />
    <!--
        超时全局设置 10分钟
        check=false 不检查服务提供方，开发阶段建议设置为false
        check=true 启动时检查服务提供方，如果服务提供方没有启动则报错
    -->
    <dubbo:consumer timeout="600000" check="false"/>

    <!--1；配置自定义的Job（自定义任务类）-->
    <bean id="jobDemo" class="com.itheima.health.job.ClearImgJob"></bean>

    <!--2：定时清理七牛云垃圾图片任务描述，任务描述细节-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="jobDemo"></property>
        <property name="targetMethod" value="clearImg"></property>
    </bean>

    <!--3：定义清除图片的触发器-->
    <bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"></property>
        <!--
            触发器的表达式？
            每天凌晨12点执行一次   表示从0秒开始，每10秒执行一次任务
        -->
        <!--<property name="cronExpression" value="0 * * * * ?"></property>-->
        <property name="cronExpression" value="30 32 12 * * ?"></property>
    </bean>

    <!--1-1；配置自定义的Job（自定义任务类）-->
    <bean id="jobDemo1" class="com.itheima.health.job.ClearPassOrderSetting"></bean>
    <!--2-1定时清理过期预约设置-->
    <bean id="jobDetail2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="jobDemo1"></property>
        <property name="targetMethod" value="clearOrderSetting"></property>
    </bean>
    <!--3-1：定义清除预约设置的触发器-->
    <bean id="trigger1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail2"></property>
        <!--
            触发器的表达式？
            每个月最后一天凌晨执行一次
        -->
        <!--<property name="cronExpression" value="0 0 0 L 1-12 ?"></property>-->
        <property name="cronExpression" value="10 34 22 * * ?"></property>
    </bean>

    <!--4：使用调度工厂，执行触发器-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="trigger"></ref>
                <ref bean="trigger1"></ref>
            </list>

        </property>
        <property name="quartzProperties">
            <props>
                <!-- 主要是这个参数 -->
                <prop key="org.quartz.scheduler.skipUpdateCheck">true</prop>  <!--设置跳过更新-->
            </props>
        </property>

    </bean>

   <!-- &lt;!&ndash;组件的扫描，不然不能使用@Autowired注解&ndash;&gt;
    <context:component-scan base-package="com.itheima.health"></context:component-scan>-->
</beans>